/*
 * The Cute PHP explorer is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The Cute PHP explorer is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Lara Maia <dev@lara.click> © 2015
 * Acidhub <contact@acidhub.click> (ↄ) 2015
 *
 */

 body {
     width: 75%;
     margin: 0 auto;
 }
 .current_directory {
     background-color: #cce0ff;
     padding: 3px;
 }
 .title {
     color: #0066ff;
 }
 table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-shadow: 0 0 4px black;
}
table tr {
    background-color: #cce0ff;
}
table tr.header {
    background-color: #0066ff;
}
table tr.header a {
    color: white;
}
table tr:nth-child(odd+1) {
    background-color: #cce0ff;
}
table tr:nth-child(even) {
    background-color: #e6f0ff;
}
table tr:hover {
    background-color: rgba(0, 102, 255, 0.5);
}
table td {
    padding: 3px;
}
table td.icon {
    width: 20px;
    text-align: center;
}
table td.size {
    width: 100px;
    text-align: right;
}
table td.size.center {
    text-align: center;
}

table td.mtime {
    width: 150px;
    text-align: center;
}
